[2015-01-18 13:20] Trudko opened #1 "Remove deprecated code."
Package uses few deprecated calls.

[2015-01-18 16:32] lee-dohm opened #2 "Simplify navigating up directory structure"
One thing I miss from the Emacs implementation of this feature is how easy it was to move *up* the directory tree. An example:

1. You're in a file in `foo/bar/`
1. Press <kbd>Cmd+Alt+N</kbd>, Advanced New File shows `foo/bar/|` (`|` represents the cursor)
1. Press <kbd>Backspace</kbd> once, Advanced New File now shows `foo/|`

If your cursor is after a backslash and you press <kbd>Backspace</kbd>

[2015-01-18 17:30] Trudko commented on #2
Hi @lee-dohm , you are first to create issue in my package, you should win something :).

I like your proposal and I would like to ask you  for clarification. By You're in a file in foo/bar/ , do you mean that you have file opened in this folder? If yes do you want to Advanced New File start in this folder rather then root of the project?

Secondly what if I want to rename the bar folder name? If

[2015-01-18 17:44] lee-dohm commented on #2
By "you're in a file in `foo/bar/`" I mean that there is a file open in Atom that exists in the directory `foo/bar/` underneath the project directory.

Yes, this feature already exists. For example: `foo/bar/baz.md` is open in the main Atom window. If the `advanced-new-file.suggestCurrentFilePath` option is set to `true`, when I press <kbd>Cmd+Alt+N</kbd> the edit box is pre-populated with `foo/ba

[2015-01-19 18:18] Trudko commented on #2
@lee-dohm I think I understand it and I do like it so I will take a look at it. Can't promise you date because I want to focus first on removing deprecated code and I want to take closer look at isuess in old package which weren't addressed for several weeks.

[2015-01-20 00:50] lee-dohm commented on #2
Thanks for taking a look! :grinning:

[2015-01-26 16:48] Trudko commented on #2
Do you mean something like this?

![advanced-new-file-lee](https://cloud.githubusercontent.com/assets/3289225/5903711/8d20729e-a583-11e4-8114-07e01af0c2ae.gif)

[2015-01-26 17:31] lee-dohm commented on #2
Yes, that's it :+1:

[2015-01-26 18:07] Trudko commented on #2
Ok because this is not possible :D I should release it at the end of this week, cause I can work on it mostly on weekends.

[2015-01-26 19:34] lee-dohm commented on #2
Thanks a bunch for working on it :grinning:

[2015-01-30 16:43] Trudko commented on #2
@lee-dohm any tips how to disable backspace keypress?

[2015-01-30 17:15] lee-dohm commented on #2
In my [bug-report package](https://atom.io/packages/bug-report), I just added commands for `core:focus-next` and `core:confirm` to the controls I wanted to handle those commands:

https://github.com/lee-dohm/bug-report/blob/master/lib/panel-view.coffee#L86-L90

I assume you could do the same thing with `core:backspace`.

[2015-01-31 15:42] #1 closed

[2015-01-31 15:42] #2 closed

[2015-01-31 18:02] lee-dohm opened #4 "Can't install v0.2.0"
I assume because of the new `engines` value. Even when I completely uninstall `advanced-new-file` and install again, the v0.1.0 version is installed.

[2015-02-04 00:46] raddevon opened #5 "Opens new window with new file"
When I create a new file with advanced-new-file, it opens a new window with the file. Is it possible to have the new file created in the current window?

[2015-02-04 00:53] raddevon commented on #5
It might be helpful if I tell you exactly what I'm running. :smile:

I'm on OSX 10.10.1 with Atom 0.177.0 and advanced-new-file 0.2.1. I've bound the command to Cmd-N since I want to replace the default new file behavior with it, but it seems to do the same thing if I use the default keybinding.

[2015-02-04 18:26] Trudko commented on #4
@lee-dohm do you have problem with 0.2.1?

[2015-02-04 18:28] Trudko commented on #5
Hi @raddevon :) this is bit tricky and I've posted issue to atom about that. I do use atom.open functions which has newWindow settings and I set it to false, but sometimes it opens in new window. Will take a closer look at it this weekend :)

[2015-02-05 04:39] lee-dohm commented on #4
Yeah, still doesn't install on a `master` branch compiled version. I think that's what it is, the version checking says that Atom is a pre-release version so unless you specify the exact version it won't install.

[2015-02-05 08:22] Trudko commented on #4
@lee-dohm you mean if I don't specify exact version of Atom in package.json?

[2015-02-05 15:39] lee-dohm commented on #4
I forget where I saw it now, but basically since I build from `master` my Atom version number is `v0.178.0-deadbeef` (or some other hash). Because of the hash at the end, Node considers this a "pre-release" version. If you say you are compatible with `>=v0.5.0`, Node only matches that with *released* versions greater than or equal to v0.5.0, but if you say that you're compatible with `>=v0.5.0-alp

[2015-02-05 16:39] raddevon commented on #5
Thanks for the reply, @Trudko. I dug a bit deeper and found the `newWindow` option wasn't getting into the `ipc.send` call. Pretty sure that's because the call down [on line 158](https://github.com/Trudko/advanced-new-file/blob/master/lib/advanced-new-file-view.coffee#L158) is passing two arguments to `atom.open` instead of passing the options object.

However, even after explicitly wrapping the o

[2015-02-06 16:36] lee-dohm commented on #4
Orrrr I could be completely wrong and you got bit by atom/atom#5417. It looks like it should be space-separated ... not comma-separated.

[2015-02-06 17:17] Trudko commented on #4
I see :) I will take a look at https://github.com/Trudko/advanced-new-file/issues/5 and will release this with it during the weekend.

[2015-02-06 17:18] Trudko commented on #5
Thanks for taking your time, yeah I need to take a closer look at atom.open during the weekend it is bit confusing imho at least documentation is.

[2015-02-07 14:44] Trudko commented on #4
I've pushed new version please try that one

[2015-02-07 14:44] Trudko commented on #5
@raddevon I've published new version where I used atom.workspace.open instead of atom.open. For me it seems to work. Please try it and let me know.

[2015-02-07 18:30] lee-dohm commented on #4
That one worked, thanks!

[2015-02-07 18:30] #4 closed

[2015-02-09 01:02] raddevon commented on #5
@Trudko That seems to be working perfectly. Thanks for the fix!

[2015-02-09 01:02] #5 closed

[2015-02-09 15:10] Trudko commented on #5
@raddevon thanks for creating an issue and the help!

[2015-02-10 17:25] jelmerdemaat opened #6 "Atom.Object.defineProperty.get is deprecated."
Just an automatic issue to notify about deprecated methods:

atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-02-11 19:59] Trudko commented on #6
@jelmerdemaat Thank you for the info I am aware of the issue I will take a look at it during this week
:)

[2015-02-12 09:10] jelmerdemaat commented on #6
:+1:

[2015-02-13 18:27] CentaurWarchief opened #7 "Current cursor text (selection)"
As already reported on `rev087/fancy-new-file`, [##23](https://github.com/rev087/fancy-new-file/issues/23).

[2015-02-14 12:06] Trudko commented on #7
Download the update I've added Add Text From Selection  setting (default to false). I did it in bit of hurry because I am going on Valentine with by gf :).

[2015-02-14 12:10] CentaurWarchief commented on #7
@Trudko and what about replacing `/` or `\` to current system directory separator? For example: I'm PHP programmer, sometimes I create directory based upon a namespace, and namespaces contains backslash, such as: `Trudko\Atom\AdvancedNewFile`. **Atom** doesn't handle this by default, but sublime does. Thoughts?

[2015-02-14 12:20] Trudko opened #8 "Panel siderbar blocks the text"
After last updates if the path is too long , sidebar appears but it block part of the text. This happens in Windows, couldn't reproduce in Linux.

[2015-02-14 17:25] RyanMacG opened #9 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. Press CMD+ALT+N

**Atom Version**: 0.179.0
**System**: Mac OS X 10.10.2
**Thrown From**: [advanced-new-file](https://github.com/Trudko/advanced-new-file) package, v0.3.2

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

It seems to still work it just throws this

[2015-02-14 19:53] Trudko commented on #9
@RyanMacG  thank you I will take a look at it tomorrow.

[2015-02-15 14:52] Trudko commented on #9
I've updated the version please take a look.

[2015-02-15 15:49] RyanMacG commented on #9
0.3.3 seems to have resolved it, thanks!

[2015-02-15 17:07] Trudko commented on #9
Thank you! :)

[2015-02-15 17:08] Trudko commented on #6
@jelmerdemaat this should be resolved so I will close it if you agree.

[2015-02-15 21:04] jelmerdemaat commented on #6
Yep, no longer seeing this message!

[2015-02-16 07:04] Trudko commented on #6
Great :) closing the issue.

[2015-02-16 07:04] #6 closed

[2015-02-16 11:50] Trudko commented on #8
This is caused by most likely by issue in Atom https://github.com/atom/atom/issues/5548

[2015-02-18 11:25] Trudko commented on #7
@CentaurWarchief using current system directory certainly make sense. I will take a look at that during the weekend :)

[2015-02-18 11:40] CentaurWarchief commented on #7
@Trudko Great.

[2015-02-20 18:25] Trudko commented on #8
Resolved by new version of Atom.

[2015-02-20 18:25] #8 closed

[2015-02-21 15:11] Joe5 opened #10 "Suggest current file path delimiter on windows"
Package is correctly suggesting directory location however it ends with wrong delimiter. Generated location looks something like this `web\jade\partials/`. The problem is in the last `/` which breaks the suggestions. Removing it and hitting tab or changing the suggested path to `web\jade\partials/\` fixes the issue.

[2015-02-23 08:34] Trudko commented on #7
@CentaurWarchief so it seems possible, I am just curious if this can be done for different languages and if there isn't some side effect for different language.

[2015-02-23 11:33] CentaurWarchief commented on #7
Well, isn't about PHP language itself, is about the backslash, PHP was only
a example (as I don't know any other which uses backslash as namespace
separator.). And yes, you cannot create directories with backslash, I think
that this is just an `escape`.

:+1:

[2015-02-23 11:35] CentaurWarchief commented on #7
Well, isn't about PHP language itself, is about the backslash, PHP was only a example (as I don't know any other which uses backslash as namespace separator.). As you cannot create directories with backslash, I think that this is just an `escape`.
:+1:

[2015-02-24 18:20] Trudko commented on #10
@Joe5 thank your reporting the issue I will take a look at it this week.

[2015-02-25 13:49] Joe5 commented on #10
@Trudko No problem.

[2015-02-26 14:30] Trudko commented on #10
what OS are you on?

[2015-02-26 18:59] Joe5 commented on #10
Currently I am using Linux however the problem occurs under Windows (7).

[2015-02-26 19:54] Trudko commented on #10
Can you please provide version of Atom , the package and maybe even some code which I can reproduce this on ? When I run advanced new file command on this package everything seems work normally. I've tried this on Windows 8 and Ubuntu.

[2015-02-27 15:47] Joe5 commented on #10
Latest Atom and latest version of the package. It was broken in Atom 182 as well (the time when I created this topic). Before this package I was using the "parent" package (fancy new file) and that package worked correctly.

[2015-02-27 16:48] Trudko commented on #10
Can you please help me reproduce the problem ? I can't do it what are the step to reproduce and what code do you use? For example if you download package code can you reproduce it with?

[2015-02-27 17:31] Joe5 commented on #10
I could try but I am not really sure how can I help you to reproduce it. The files opened has nothing to do with it. I have tried to open multiple folders and it works the same every time. I have also tried to open the package code as you suggested and the result was the same.

Steps to reproduce the problem for me are just hitting `ctrl+alt+n` or hitting `ctrl+shift+p` and search for command to o

[2015-03-16 12:11] Trudko commented on #10
Hi, sorry for responding late I was focusing on other things. I am still unable to reproduce this. I've checked the code and I am using [path.sep](https://nodejs.org/api/path.html#path_path_sep) in the code. Maybe I am missing something.

[2015-03-16 19:50] MatthewMueller opened #11 "bash-style completion"
Would be cool to support:

[code]

[2015-03-16 20:39] Trudko commented on #11
Hi Matthew :) would you mind more information about this? I am not familiar with this.

[2015-03-16 21:24] MatthewMueller commented on #11
sure thing, take a look at the examples at: https://github.com/juliangruber/brace-expansion

That's a really popular module, I'd think it'd be pretty easy to add in here :-)

[2015-03-17 06:32] Joe5 commented on #10
Hello, no problem I understand... I know nothing about Node.js, literally however I do know a little from CoffeeScript. I've looked at the source code of your package and found the bug.

There is hard coded `/` separator at the end of the suggested path. I've tried to tweak it a bit and it fixed the problem for me.

When I find some free time I will try to make my first pull request ever. You shou

[2015-03-17 07:24] Trudko commented on #10
What's the line?

[2015-03-17 07:27] Trudko commented on #7
@CentaurWarchief  Seems worth the try. Thing is I want to first write test for whole package before adding anything new. Might take a while since I am busy writing blog and having full time job. Ofc I am happy to merge pull requests ;)

[2015-03-17 18:10] Joe5 commented on #10
It was on 3 lines. One of them was 223.

I wanted to send you that pull request with my changes however when I forked your rep the source code was different than what was installed on Atom. Basically it already contained that concatenation of `path.sep` instead of `'/'` so there is nothing to change as it is already fixed.

I still have no idea how is it even possible that the source code here is

[2015-03-17 19:49] Trudko commented on #10
Seems like you had somehow old version of package :) Ok I am closing the issue :)

[2015-03-17 19:49] #10 closed

[2015-03-18 06:16] Joe5 commented on #10
Nope the version is `"version": "0.3.3",` straight from package.json. But how it is even possible that it is different that I have no idea.

[2015-03-18 07:29] Trudko commented on #10
It will remain mystery from now :)

[2015-03-18 07:59] Joe5 commented on #10
Yep it's not worth the time investment unless someone else experience this.

[2015-03-26 14:16] Trudko commented on #11
Looks nice but I need more people who would like it. Obviously I can't implement every little thing.

[2015-04-13 01:14] matmuchrapna opened #14 "New file popup is broken in Atom One theme"
![screen shot 2015-04-13 at 03 13 06](https://cloud.githubusercontent.com/assets/559321/7108574/145b23b0-e18b-11e4-9386-729c43a6ded1.png)
I love your plugin, but this thing disappoint me. How can I help you to fix this?

[2015-04-13 11:44] Trudko commented on #14
Hey, thanks for kind words and reporting the issue. I was able to reproduce it and if you have an idea where might be a problem I am would love to hear it.

[2015-04-13 16:05] matmuchrapna commented on #14
I don’t know where is a problem, but I tried other standard Atom themes, (Atom Dark to be clear) and this theme have no this problem. So maybe Atom One theme have some overridings to advanced-new-file?

[2015-04-13 19:27] silentvick commented on #14
I believe the problem is in deprecated styles for modal window: `overlay from-top`. Seems like you don't need these two nowadays. Removing it solves the problem. I'll make a PR.

[2015-04-15 18:40] matmuchrapna commented on #14
@Trudko what do you think, about mergin’?

[2015-04-15 21:36] Trudko commented on #14
Sure I will check it tomorrow.

[2015-04-16 13:19] #14 closed

[2015-04-16 13:43] Trudko commented on #14
Merged and release thanks guys!

[2015-04-16 13:48] matmuchrapna commented on #14
![screen shot 2015-04-16 at 15 47 50](https://cloud.githubusercontent.com/assets/559321/7182175/fd2586aa-e44f-11e4-874e-a4e5f9d65dcf.png)
It’s working properly now, Thanks @Trudko @silentvick

[2015-04-20 17:53] htekgulds opened #16 "Uncaught TypeError: Cannot read property 'getSelection' of undefined"
[Enter steps to reproduce below:]

1. Press Ctrl + Alt + N

**Atom Version**: 0.192.0
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [advanced-new-file](https://github.com/Trudko/advanced-new-file) package, v0.4.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getSelection' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-21 08:20] Trudko commented on #16
Hi, thank you. I will take a look at this this week.

[2015-04-21 08:26] htekgulds commented on #16
No problem :) Keep up the great work!

21 Nis 2015 Sal, 11:20 tarihinde, Trudko <notifications@github.com> şunu
yazdı:

[2015-04-21 16:05] posita opened #17 "Dialog disappears on OS X when temporarily navigating away from panel"
There might be times when I bring up the new file dialog, and partially complete a path, but need information from another window. If I navigate away from Atom (e.g., via `cmd-tab`), when I return to Atom, the new file dialog is gone, and I have to start over. It would be nice if the dialog persisted upon my return.

I realize this might be an Atom thing (and not something that can be overcome at

[2015-04-21 16:06] vladimirstarkov commented on #17
I think it’s an Atom-related issue, because all other dialog behave the same.

[2015-04-21 16:10] posita opened #18 "Tab-completion doesn't work with absolute paths"
To reproduce (at least on OS X):

* Open the new file dialog
* Type the absolute path to your home directory (e.g., `/Users/posita`, `/home/matt`, etc.)
* Hit tab

No files or directories are listed.

[2015-04-21 16:12] posita opened #19 "Feature request: expand `~`"
Right now, if I type in a path starting with `~` (e.g., `~/.profile`), that path is treated literally (i.e., as `${PWD}/\~/.profile`). It would be nice if the `~` character expanded to the user's home directory if `~/` appears as the first two characters in the path (as it does in a shell).

[2015-04-21 16:19] posita opened #20 "Feature request: show existing files (not just directories) in list"
It would be nice (perhaps as an optional setting) to show existing files in the drop-down list. That way one can see whether there's a collision, and even use the interface as a combined new/open functionality, kind of like emacs' `C-x C-f`.

[2015-04-21 16:21] posita commented on #20
In addition, it would be nice if tab completion worked for existing files as well.

[2015-04-21 16:27] posita opened #21 "Feature request: support fuzzy tab completion instead of prefix tab completion"
This might be difficult to support, but many platforms support "fuzzy" completion (i.e., matching on interior characters) instead of/in addition to prefix completion (i.e., exact prefix matching on what has been entered so far). It might be nice (especially if #20 is implemented) to support fuzzy completion.

[2015-04-21 18:59] posita commented on #18
Actually, I think I understand better what's going on. You can see it here (set to loop twice):

![foo](https://cloud.githubusercontent.com/assets/222581/7260245/9dc8e0d6-e81d-11e4-9e1b-dae9eb0747ae.gif)

Basically, I hit tab after `b` matches `bin` in the local directory, and the relative path is replaced with what *appears* to be an absolute path. *However*, absolute paths are still being treate

[2015-04-22 16:17] posita commented on #17
Feel free to close as a duplicate of atom/atom#1918.

[2015-04-22 16:18] #17 closed

[2015-04-22 18:28] posita opened #22 "Typing in a path that resolves to a directory creates a file called `untitled`"
It would be nice if a path matched an existing directory that this plugin opened that directory as a project.

[2015-04-22 19:15] vladimirstarkov commented on #22
why do you need this feature here? this plugin is about easy way of creating files in project, not opening projects

[2015-04-22 19:33] posita commented on #22
Opening a new, unsaved, but named buffer is a pretty specific feature. Opening *things* seems to me to be a more useful super set that is naturally grouped together. Opening a project is just a suggestion. It's also consistent with the way that Atom behaves now.

In any event, opening a "untitled" buffer seems to me to be the wrong behavior. (Although if opening a directory as a project is off the

[2015-04-22 20:14] vladimirstarkov commented on #22
Sorry, maybe misunderstanding take place. My point is that I’m usually working with projects and don’t need to open existing folder (inside this project) as a new project — otherwize, I will greatly annoyed. Second point is that opening folder as project is out of scope plugin named "*-new-file". Third point: it is duplicating `Open…` dialog, isn’t it?

[2015-04-22 20:37] posita commented on #22
Ah, excellent point. I'm not sure what the behavior would be in this case. Maybe navigating to (or expanding) the folder in the first open project in which it appears? You're right. This doesn't have an obvious "correct" behavior.

I agree that the name of the project would be too narrow, but opening files is (perhaps unintentionally) already supported by this package. Try entering a path that alr

[2015-04-22 20:39] posita commented on #22
I see there's [already a branch](https://github.com/Trudko/advanced-new-file/tree/navigating_directury_structure) that suggests adding behaviors around existing directories is something worth experimenting with?

[2015-04-23 07:35] Trudko commented on #19
Hi :), why would you need to access home directory? Package is about creating file inside of open project.

[2015-04-23 07:40] Trudko commented on #22
Hi guys, first of all thanks for great discussion! Really helps me a lot. Posita you are right about opening untitled although I don't personally like opening new project instead. Maybe simple message that this folder already exists could work?

[2015-04-23 07:48] Trudko commented on #20
I can see your point. I can see this implemented. Hopefully there won't be performance problem and I would need to try it with folder with large amount of files.

[2015-04-23 07:52] Trudko commented on #18
Seems like bug, I am not able to reproduce it yet. Need bit more time for this.

[2015-04-23 07:53] Trudko commented on #16
Are you able to reproduce this consistently?

[2015-04-23 09:09] htekgulds commented on #16
Actually no I can't. It might me a combination of other circumstances maybe but idk for sure.

[2015-04-23 13:35] posita commented on #19
It's a suggestion for a convenience feature. There might be a situation where a project relies on a development environment with configurations outside the project directory. For example one might want to hack on (or just look at) something in `~/.atom` while working on `~/projects/atom/my-new-plugin`.

[2015-04-23 13:39] posita commented on #20
I'm guessing the performance issue would be at the display level, not the internal directory listing level, since you are (or *something* is) already getting a complete listing to figure out which is a directory and which is not. One approach could be to get it working (perhaps as a configurable setting) with a complete listing, then waiting for someone else to complain about it, and then looking

[2015-04-23 13:44] posita commented on #20
To answer my own question, with ~3000 sub-directories, the menu takes about 1-2s to appear and then (effectively) shows a partial list (whose length is dependent on screen height :wink:) until additional characters are typed to refine it:

![screen shot 2015-04-23 at 06 41 58](https://cloud.githubusercontent.com/assets/222581/7298375/1020f1ac-e984-11e4-80b8-3719e67c47e7.png)

[2015-04-23 13:55] posita commented on #22
Perhaps. It depends on which direction you want to take. I hate to keep coming back to `C-x C-f`, but it's a pretty powerful tool. If you want to support opening (which you already do, perhaps by accident, but "creating" an existing file happens to open that file), then an error message seems inconsistent. However, if this package is really *only* about creating new things, then maybe an error mes

[2015-04-28 17:28] silentvick commented on #22
Atom has announced [Multi-Folder Projects](http://blog.atom.io/2015/04/15/multi-folder-projects.html). It gives us another option here: to open folder in existing atom window (project) instead of creating new one.

There are still some questions though. For example, it's unclear to me what to do with a folder inside already opened project. Or what if I just want to create a directory and not to op

[2015-04-30 08:18] Trudko commented on #19
Personally I don't think this is that important so personally I wouldn't do that, unless more people would find this useful. I hope you understand.

[2015-04-30 08:19] Trudko commented on #16
@htekgulds Ok if this happens again let me know.

[2015-04-30 13:52] posita commented on #19
I think resolving #18 is more important than adding this feature.

[2015-05-03 12:02] bripkens opened #25 "Uncaught Error: ENOENT: no such file or directory, open '/Users/ben/filename'"
1. Open the *advanced-new-file* dialog (via keyboard shortcut or command palette).
2. Type in a file name and confirm
3. The new file is opened and the error is shown in the red dialogue box. Everything is working fine. The only (visible) issue is the error reporting tool.

**Atom Version**: 0.196.0
**System**: Mac OS X 10.10.3
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: ENOENT: n

[2015-05-05 00:06] percipio opened #26 "Use activationCommands instead of activationEvents in your package.json"
![adv_new_file_issue](https://cloud.githubusercontent.com/assets/41063/7465123/b213de92-f290-11e4-90a3-b928fe4a5b92.png)

[2015-05-05 00:08] percipio opened #27 "The context CSON format has changed."
![adv_new_file_issue_1](https://cloud.githubusercontent.com/assets/41063/7465140/e6daec10-f290-11e4-81af-ad9ca5af1ce1.png)

[2015-05-06 16:38] zimme commented on #27
Fixed with #24. No new release yet though.

[2015-05-06 16:38] zimme commented on #26
Fixed with #24. No new release yet though.

[2015-05-07 18:01] ProLoser opened #28 "Add a 'move' and possibly 'duplicate' shortcut so I can quickly relocate my currently open file"
Instead of making a new file from nothing, it'd be nice if the currently open file could be relocated using the same exact prompt as you would with a new file.

[2015-05-07 18:06] iamstarkov commented on #28
are you talking about renaming?

[2015-05-07 18:11] ProLoser commented on #28
That would work too, yes. I suppose it'd be easy to select-all, copy, new file, paste

[2015-05-07 18:11] ProLoser commented on #28
Yes quick-renaming would be awesome if it had the exact same UI.

[2015-05-07 18:17] iamstarkov commented on #28
can you describe cases and the flow of anf’s work in these cases

[2015-05-07 18:20] ProLoser commented on #28
anf?

Uh all I'm thinking is that you open a file, while that file is the current editor you hit some shortcut like cmd+option+r which opens the 'new file' prompt, except the full path to the file is currently shown and the filename is selected. You can then begin typing in a new name or path/to/new/name.file

[2015-05-07 23:37] iamstarkov commented on #28
I get your idea of renaming scenario, seems to be useful. thx

[2015-05-11 12:04] Trudko commented on #27
Will release this week. I had vacation the last one.

[2015-05-11 12:04] #27 closed

[2015-05-11 12:04] #26 closed

[2015-05-13 06:03] marek1545 opened #29 "Package.activateConfig is deprecated."
Use a config schema instead. See the configuration section
of https://atom.io/docs/latest/hacking-atom-package-word-count and
https://atom.io/docs/api/latest/Config for more details
[code]

[2015-05-14 11:43] Trudko commented on #29
Hi Marek, this was resolved and will be part of new version which will be released tomorrow.

[2015-05-14 11:43] #29 closed

[2015-05-15 10:41] bripkens opened #31 "Support multiple project directories"
Atom supports multiple directories for a project. Additional directories can be added via `File -> Add project folder...`. It would be great if *advanced-new-file* would be aware of multiple project directories.

For instance, instead of setting the context for file and directory paths to the first project's directory, the context could be the set of project directories.

[2015-05-16 08:36] nstanke opened #32 "Uncaught TypeError: Cannot read property 'forEach' of undefined"
### Steps to reproduce

1. Press Option + CMD + N
2. Enter path

**Atom Version**: 0.199.0
**System**: Mac OS X 10.10.3
**Thrown From**: [advanced-new-file](https://github.com/Trudko/advanced-new-file) package, v0.4.2

### Stack Trace

Uncaught TypeError: Cannot read property 'forEach' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-16 23:25] lapin-b opened #33 "Object.add is deprecated."
Are you trying to listen for the 'core:confirm' Atom command with `jQuery::on`?
`jQuery::trigger` can no longer be used to listen for Atom commands. Please
use `atom.commands.add` instead. See the docs at
https://atom.io/docs/api/latest/CommandRegistry

[2015-05-19 03:28] kyoh86 opened #34 "Object.add is deprecated."
Are you trying to listen for the 'core:confirm' Atom command with `jQuery::on`?
`jQuery::trigger` can no longer be used to listen for Atom commands. Please
use `atom.commands.add` instead. See the docs at
https://atom.io/docs/api/latest/CommandRegistry

[2015-05-19 13:29] clayreimann opened #35 "Object.add is deprecated."
Are you trying to listen for the 'core:confirm' Atom command with `jQuery::on`?
`jQuery::trigger` can no longer be used to listen for Atom commands. Please
use `atom.commands.add` instead. See the docs at
https://atom.io/docs/api/latest/CommandRegistry

[2015-05-19 13:29] clayreimann commented on #33
Se also #34, and #35

[2015-05-21 11:53] #35 closed

[2015-05-21 11:54] Trudko commented on #33
I am planning to do a release tomorrow thanks :).

[2015-05-21 11:54] Trudko commented on #34
Duplicated of #33

[2015-05-21 11:54] #34 closed

[2015-05-21 11:54] Trudko commented on #25
Do you have still this problem? I am not able to reproduce it.

[2015-05-21 11:56] Trudko commented on #32
Hi :), I will take a look. Thank you for reporting.

[2015-05-22 07:50] #33 closed

[2015-05-22 07:50] Trudko commented on #33
Resolved

[2015-05-22 07:51] Trudko commented on #32
Can you tell what were you typing when this happens?

[2015-05-22 08:02] Trudko commented on #18
I was able to reproduce it if I try to wrote absolute path - /home/Trudko/Desktop/file.txt for example. This was create file under /home/Trudko/home/Trudko/Desktop but that make sense because package  creates file relatively to project folder.

How exactly do you use this package? Do you open home folder in Atom? Feels like you are trying to create files outside of folder/project being open right

[2015-05-22 08:04] Trudko commented on #16
I will close it for now. If this happens again please let me know.

[2015-05-22 08:04] #16 closed

[2015-05-22 08:12] Trudko commented on #28
I am not sure that I follow. So do you want to be able to open ANF and if you have some file open it's path would be in dialog and you could rename it from there or be able to write new path and the file which is right now opened would be moved there?

[2015-05-22 08:53] Trudko commented on #31
Hi, this is definitely good suggestion, but first I have to find time to write test for whole package. This is bit tricky and I worry ti can affect quite a lot so I want to write test first. Hopefully I will do that in next week or two.

[2015-05-22 13:45] posita commented on #18
Possibly, but there may not even be a project open (i.e., the "project" could be the user's home directory), and this plugin is still useful. There are all kinds of reasons why one might want to create a new file outside of the current project tree.

[2015-05-22 14:07] nstanke commented on #32
@Trudko Any path starting with `~`. i. e. `~/code`

[2015-05-22 14:32] iamstarkov commented on #32
is your project folder is `~` folder?

[2015-05-22 16:18] ProLoser commented on #28
I didn't think this was that confusing.

In the file-tree, if you highlight a file or folder, and press "m" you will get a move dialogue. I pretty much want that, except while the editor is in focus, and it would use the currently open file and the autocomplete menu. Honestly it would also be nice if you retroactively added the autocomplete menu to the existing dialogues that are initiated from th

[2015-05-29 04:49] deiga opened #36 "New file dialog doesn't show up when focused on editor"
Currently I can only get the dialog to pop up if I focus the tree-view or other non-editor component

[2015-05-29 13:06] bripkens commented on #25
The bug no longer occurs. I did not install any new plugins though. Only updates...

[2015-05-29 13:06] #25 closed

[2015-06-06 01:32] Dargaard opened #37 "Can't create a folder without specifying a file"
I can't figure out how to create just a folder. Typing newfolder\ or newfolder/ creates a file called newfolder once it's saved, not a new directory like it does in Sublime.

[2015-06-07 19:53] coolzilj opened #38 "Can't create multiple files just like the demo gif did"
I can't create multiple files using comma just like the demo gif did.
And I miss something?
Atom Version 0.207.0 (0.207.0)

[2015-06-11 10:33] Trudko commented on #38
Hi what do you mean you can't ? What happens instead?

[2015-06-11 11:21] coolzilj commented on #38
Let's say I type `main.css, main.html` after invoking, only an empty `main.css`(the first one) tab shows up, instead of two tabs.

[2015-06-12 05:50] rodmax commented on #31
A useful thing, i am looking forward to this feature :)

[2015-06-17 13:11] pcbulai commented on #9
1. CMD+N

**Atom Version**: 0.209.0
**System**: Mac OS X 10.10.3
**Thrown From**: [advanced-new-file](https://github.com/Trudko/advanced-new-file) package, v0.4.3

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-17 15:53] Volox commented on #9
Same problem in 0.4.3

[2015-06-27 22:16] johnpeele opened #39 "Uncaught TypeError: Cannot read property 'off' of null"
[Enter steps to reproduce below:]

1. Simply invoke keyboard shortcut

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [advanced-new-file](https://github.com/Trudko/advanced-new-file) package, v0.4.3

### Stack Trace

Uncaught TypeError: Cannot read property 'off' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-27 22:17] johnpeele opened #40 "Uncaught TypeError: Cannot read property 'hiddenInputComponent' of null"
[Enter steps to reproduce below:]

1. Simply invoke keyboard shortchut

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [advanced-new-file](https://github.com/Trudko/advanced-new-file) package, v0.4.3

### Stack Trace

Uncaught TypeError: Cannot read property 'hiddenInputComponent' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-29 16:17] AntoineBoulanger opened #41 "Use the fuzzy finder"
Would it be possible to use the [atom fuzzy finder](https://github.com/atom/fuzzy-finder) to find the sub folder you want to create your file in, without having to type the whole path/to/file.txt ? Exemple: https://github.com/noklesta/SublimeQuickFileCreator this plugin did it for Sublime Text.

[2015-07-02 00:56] eboracus commented on #18
Yes I agree, I think it would be optimal if this package could generate new files outside as well as inside (which should still be default) the current project tree. Maybe with a toggle automatically thrown (and displayed in the dialog) when an absolute path from the home directory is entered, this could then be switched off if the user actually wanted a coincidentally named dub-directory within t

[2015-07-02 01:08] eboracus commented on #9
Got this same error in 0.4.3 as well. Looks to me like it is due to the 'Add Text From Selection' settings option. With this on I get this error thrown (tried in buffers with and without any text just in case) and off everything works fine.

[2015-07-05 09:19] DjebbZ commented on #9
Same than above. I have the same the error from 0.4.3 only when "Add Text From Selection" is checked. Otherwise all good.
Also, the checked option doesn't work. The problem is that if I have some text selected and the option checked, this selected text isn't used at all for the name of the new file.

[2015-07-07 07:21] Trudko commented on #9
Hi guys sorry these days I don't have much time if anybody want to take a look I am happy to merge pull request.

[2015-07-13 14:13] csaket opened #42 "Uncaught TypeError: Cannot read property 'message' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.2
**System**: Microsoft Windows 7 Enterprise
**Thrown From**: [advanced-new-file](https://github.com/Trudko/advanced-new-file) package, v0.4.3

### Stack Trace

Uncaught TypeError: Cannot read property 'message' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-23 16:06] sagasu commented on #32
I have this same error, without typing any path.

I just hit: ctrl + n

An input box shows up to type path, and error is already visible.

[2015-07-29 09:10] svenax opened #45 "Create new file relative to the current file"
In a similar package for Sublime Text 3, it is possible to create new files relative to the currently opened and focused file by prefixing the path with **:**. When using path completion, this changes to a full project relative path. This feature is convenient when creating new files in a nested folder structure.

[2015-08-04 10:49] tofagerl commented on #32
I have this error if I try to create a file in a folder named the same as an existing file.

I.e.: if src/foo is a file which I created by mistake while trying to create src/foo/bar and hitting enter too soon, and I don't delete src/foo, but try to create src/foo/bar right away instead; instacrash as soon as I hit the second /, followed by a new crash every time I write a new character.

[2015-08-07 04:19] okuc opened #46 "不能自动保存"
当打开自动保存功能时，仍然不能自动保存。

创建的文件必须手工先保存一下，才能自动保存。

[2015-08-07 06:12] iamstarkov commented on #46
are you kiddin me?

[2015-08-12 10:42] #46 closed

[2015-08-16 06:09] okuc commented on #46
why closed？and no answer?

[2015-08-16 07:38] Trudko commented on #46
Because I have no idea what the issue says.

[2015-08-17 15:01] vynogradskyi commented on #37
Same issue

[2015-08-31 15:17] Trudko commented on #37
Hi guys please take a look at https://github.com/Osmose/advanced-open-file, it replaces this project which I can't maintain anymore. Thank you for understanding :)

[2015-08-31 15:17] #37 closed

[2015-08-31 15:17] Trudko commented on #45
Hi :) please take a look at https://github.com/Osmose/advanced-open-file, it replaces this project which I can't maintain anymore. Thank you for understanding :)

[2015-08-31 15:17] #45 closed

[2015-08-31 15:17] Trudko commented on #42
Hi :) please  take a look at https://github.com/Osmose/advanced-open-file, it replaces this project which I can't maintain anymore. Thank you for understanding :)

[2015-08-31 15:17] #42 closed

[2015-08-31 15:17] Trudko commented on #41
Hi :) please  take a look at https://github.com/Osmose/advanced-open-file, it replaces this project which I can't maintain anymore. Thank you for understanding :)

[2015-08-31 15:17] #41 closed

[2015-08-31 15:18] Trudko commented on #38
Hi :) please  take a look at https://github.com/Osmose/advanced-open-file, it replaces this project which I can't maintain anymore. Thank you for understanding :)

[2015-08-31 15:18] #38 closed

[2015-08-31 15:34] posita commented on #20
Closed as `wontfix`?

[2015-08-31 15:34] posita commented on #21
Closed as `wontfix`?

[2015-08-31 15:34] posita commented on #18
Closed as `wontfix`?

[2015-08-31 15:35] posita commented on #19
Closed as `wontfix`?

[2015-08-31 15:35] posita commented on #22
Closed as `wontfix`?

[2015-08-31 15:46] iamstarkov commented on #37
You probably should comment the same in all issues you closed today

[2015-08-31 15:47] iamstarkov commented on #22
https://github.com/Trudko/advanced-new-file/issues/37#issuecomment-136403491

[2015-08-31 15:48] iamstarkov commented on #19
https://github.com/Trudko/advanced-new-file/issues/37#issuecomment-136403491

[2015-08-31 15:48] iamstarkov commented on #20
https://github.com/Trudko/advanced-new-file/issues/37#issuecomment-136403491

[2015-08-31 15:53] Trudko commented on #37
Yeah I started , but there were too many issues and I added comment to readme.

[2015-09-01 10:02] iamstarkov commented on #45
@Trudko thank you for all the time and efforts you spent on this project, I loved it and it saved me a tons of hours. thank you

[2015-09-02 10:21] Trudko commented on #45
Thank you for kinds words! I sincerely appreciated it.

[2015-09-15 16:38] d12frosted opened #48 "Uncaught Error: ENOENT: no such file or directory, open '/Users/d12frosted/.atom/packages/org/lib..."
From https://github.com/atom/atom/issues/8739

Steps to reproduce:

1. `advanced-open-file`
2. navigate to `.org` file
3. open it
4. error

**Atom Version**: 1.0.11
**System**: Mac OS X 10.10.5
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open '/Users/d12frosted/.atom/packages/org/lib/org-input.coffee'

[code]

### Commands

[code]

### Config

[c

[2015-10-06 16:24] csaket opened #49 "Failed to activate the linter package"
[Enter steps to reproduce below:]

1. Try to update linter

**Atom Version**: 1.0.19
**System**: Microsoft Windows 7 Enterprise
**Thrown From**: [advanced-new-file](https://github.com/Trudko/advanced-new-file) package, v0.5.0

### Stack Trace

Failed to activate the linter package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-10 11:17] Trudko commented on #48
Hi please use advanced open file,

[2015-10-10 11:18] Trudko commented on #49
Hi please used advanced open file package.

[2015-10-10 11:18] #49 closed

[2015-10-12 11:52] d12frosted commented on #48
@Trudko Isn't it what I am already using?

---

[code]

[2015-10-12 11:54] iamstarkov commented on #48
@d12frosted then its better to open issue there https://github.com/Osmose/advanced-open-file

[2015-10-12 12:08] d12frosted commented on #48
Ah sorry. I just was pointed here from other place. Well, I am going to close this one without opening it in `advanced-open-file` issues tracker, because I am not really using Atom, and I faced this issue more than a month ago. But just in case, pinging @Osmose.

[2015-10-12 12:08] #48 closed

[2015-12-03 02:19] yksalun opened #50 "Have u reslove this problem?"
Hi，i saw this problem in https://github.com/atom/fuzzy-finder/issues/76 that u ask，and i hava this problem too，have u reslove this problem？if u did，can u tell me how? thx

[2015-12-03 08:59] iamstarkov commented on #50
use [advanced-open-file](https://atom.io/packages/advanced-open-file) instead, it replaces this project which @Trudko can't maintain anymore. Thank you for understanding :)

[2015-12-03 09:04] yksalun commented on #50
awsome! thank u

[2015-12-03 09:16] iamstarkov commented on #50
would you mind to close issue, then? =)

[2015-12-03 10:06] #50 closed

[2015-12-20 17:49] adrenalinkyo opened #52 "Uncaught TypeError: atom.workspace.getActiveTextEditor(...).getSelection is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.3.2
**System**: Mac OS X 10.11.3
**Thrown From**: [advanced-new-file](https://github.com/Trudko/advanced-new-file) package, v0.5.0

### Stack Trace

Uncaught TypeError: atom.workspace.getActiveTextEditor(...).getSelection is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-12-20 17:57] iamstarkov commented on #52
use advanced-open-file instead

[2015-12-20 18:21] iamstarkov commented on #52
this should be closed. @Trudko what do you think about closing issues? as far as project abandoned

[2015-12-20 18:46] Trudko commented on #52
@iamstarkov definitely.

[2015-12-20 18:46] #52 closed